      * {
        font-family:명조체;
      }

      h1 {
        color:blue; 
        background-color:yellow; 
        border:2px solid red; 
        padding:20px; 
        border-radius:50px; 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

      h1:hover {
        background-color: green;
      }

      p {
        font-weight: bold;
        text-align: center;
      }

      li {
        text-decoration: underline;
      }

      h1#next {
        background-color: skyblue;
      }

      h1#next:hover {
        background-color: yellow;
      }

      p#later {
        
      }

      li.liner {
        text-decoration: none;
      }

      #later, .liner {
        font-weight: bold;
        color: gray;
      }

      h3 div {
        color: red;
      }

      h3 > div {
        color: blue;
      }









